<a routerLink="/form" ><button>  Register User</button></a><br>
<br>
<a routerLink="/getusers" ><button>See all users</button></a>

<!-- <p>user works!</p>

<button (click)="getUser()">Click to send request</button>

<div *ngFor="let u of Users">
    <p>{{u.name}}</p>

</div>




<form #userForm="ngForm" (ngSubmit)="sendData(userForm.value)">
   ngModel used to add feild to form 
    <input type="text" name="username" ngModel>
    <br><br>
    <input tyep="text" name="address" ngModel>
    <br><br>
    
    <br><br>
    <button>Submit</button>
</form> -->
