<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>servletPrac</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>S1</servlet-name>
    <servlet-class>com.rev.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>com.rev.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegistraion</servlet-name>
    <servlet-class>com.rev.UserRegistraion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistraion</servlet-name>
    <url-pattern>/UserRegistraion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigContext1</display-name>
    <servlet-name>ConfigContext1</servlet-name>
    <servlet-class>com.rev.configcontext.ConfigContext1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigContext1</servlet-name>
    <url-pattern>/ConfigContext1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigContext2</display-name>
    <servlet-name>ConfigContext2</servlet-name>
    <servlet-class>com.rev.configcontext.ConfigContext2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigContext2</servlet-name>
    <url-pattern>/ConfigContext2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>date</param-name>
    <param-value>20June</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ConfigContext3</display-name>
    <servlet-name>ConfigContext3</servlet-name>
    <servlet-class>com.rev.configcontext.ConfigContext3</servlet-class>
    <init-param>
      <param-name>Name</param-name>
      <param-value>Shreysh</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigContext3</servlet-name>
    <url-pattern>/ConfigContext3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RServ1</display-name>
    <servlet-name>RServ1</servlet-name>
    <servlet-class>com.rev.requestdispatcherpackage.RServ1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RServ1</servlet-name>
    <url-pattern>/RServ1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RServ2</display-name>
    <servlet-name>RServ2</servlet-name>
    <servlet-class>com.rev.requestdispatcherpackage.RServ2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RServ2</servlet-name>
    <url-pattern>/RServ2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.rev.errorhandling.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ErrorServ1</display-name>
    <servlet-name>ErrorServ1</servlet-name>
    <servlet-class>com.rev.errorhandling.ErrorServ1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServ1</servlet-name>
    <url-pattern>/ErrorServ1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SLogin</display-name>
    <servlet-name>SLogin</servlet-name>
    <servlet-class>com.rev.stateless.SLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLogin</servlet-name>
    <url-pattern>/SLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SView</display-name>
    <servlet-name>SView</servlet-name>
    <servlet-class>com.rev.stateless.SView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SView</servlet-name>
    <url-pattern>/SView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CLogin</display-name>
    <servlet-name>CLogin</servlet-name>
    <servlet-class>com.rev.cookies.CLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLogin</servlet-name>
    <url-pattern>/CLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CView</display-name>
    <servlet-name>CView</servlet-name>
    <servlet-class>com.rev.cookies.CView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CView</servlet-name>
    <url-pattern>/CView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ULogin</display-name>
    <servlet-name>ULogin</servlet-name>
    <servlet-class>com.rev.urlrewriting.ULogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ULogin</servlet-name>
    <url-pattern>/ULogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UView</display-name>
    <servlet-name>UView</servlet-name>
    <servlet-class>com.rev.urlrewriting.UView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UView</servlet-name>
    <url-pattern>/UView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HLogin</display-name>
    <servlet-name>HLogin</servlet-name>
    <servlet-class>com.rev.hff.HLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HLogin</servlet-name>
    <url-pattern>/HLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HView</display-name>
    <servlet-name>HView</servlet-name>
    <servlet-class>com.rev.hff.HView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HView</servlet-name>
    <url-pattern>/HView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HSLogin</display-name>
    <servlet-name>HSLogin</servlet-name>
    <servlet-class>com.rev.hsession.HSLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSLogin</servlet-name>
    <url-pattern>/HSLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HSView</display-name>
    <servlet-name>HSView</servlet-name>
    <servlet-class>com.rev.hsession.HSView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSView</servlet-name>
    <url-pattern>/HSView</url-pattern>
  </servlet-mapping>
</web-app>